body,
#wrapper {
  min-height: 100vh;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
}

#wrapper {
  display: grid;
  gap: 5px;
  max-width: 100vw;
  grid-template-columns: repeat(12, minmax(10px, 1fr));
  grid-template-rows: repeat(12, minmax(10px, 1fr));
}

.section {
  border: 1px solid black;
}

#header {
  grid-column: 4 / 13;
  grid-row: 1 / 3;
}

#sidebar {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 13;

  grid-template-rows: 10% 30% 1fr;
}

.sidebar-text-dash {
  font-size: 3.5vw;
}

.sidebar-text {
  font-size: 2.5vw;
}

.sidebar-group {
  padding: 10px;
}

.p-title {
  grid-column: 4 / 6;
  grid-row: 3 / 4;
}

#projects {
  grid-column: 4 / 10;
  grid-row: 4 / 12;
}

.a-title {
  grid-column: 10 / 12;
  grid-row: 3 / 4;
}

#announcements {
  grid-column: 10 / 13;
  grid-row: 4 / 7;
}

.tr-title {
  grid-column: 10 / 12;
  grid-row: 7 / 8;
}

#trending {
  grid-column: 10 / 13;
  grid-row: 8 / 12;
}

#footer {
  grid-column: 4 / 13;
  grid-row: 12 / 13;
}
